* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

button {
  letter-spacing: 2px;
}

button:hover {
  background-color: #D66926;
  transition: 0.3s;
  cursor: pointer;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/img-header.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 54, 81, 0.9);
  z-index: -1;
}

.checkbtn {
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#check {
  display: none;
}
#check:checked ~ .checkbtn i {
  transform: rotate(540deg);
}
#check:checked ~ .nav-mobile-list {
  display: block;
}

.fa-bars {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  color: #fff;
}

.nav-mobile-list {
  display: none;
  font-size: 26px;
  color: #fff;
}

.ul-mobile {
  position: absolute;
  color: #fff;
  list-style: none;
}
.ul-mobile li {
  color: #fff;
  margin-top: 30px;
  transform: translateX(-80px);
  text-align: right;
}
.ul-mobile li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 3px;
  text-decoration: none;
}

@media (max-width: 2560px) {
  .container-header {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .container-header .logo {
    width: 163px;
    height: 60px;
    margin: 20px;
  }
  .container-header .nav-mobile {
    display: none;
  }
  .container-header .nav {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 38px;
    margin: 0;
  }
  .container-header .nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 1.8px;
    transition: color 0.3s;
  }
  .container-header .nav a:hover {
    color: #D66926;
  }
  .container-h1 {
    max-width: 100%;
    height: 35vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .container-h1 h1 {
    font-family: "Roboto Slab", serif;
    color: #fff;
    font-size: 60px;
    font-weight: 200;
  }
  .header-buttons {
    max-width: 1084px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .header-buttons .head-btn {
    margin-top: 47px;
    width: 250px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #fff;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .header-buttons .head-btn:hover {
    background-color: #D66926;
  }
}
@media (max-width: 992px) {
  header {
    height: 100vh;
  }
  .container-h1 {
    height: 40vh;
  }
  .container-h1 h1 {
    margin-top: 240px !important;
    font-size: 40px !important;
  }
  .head-btn {
    width: 200px !important;
    height: 50px !important;
  }
}
@media (max-width: 768px) {
  header {
    height: 100vh;
  }
  header .nav {
    display: none !important;
  }
  header .nav-mobile {
    display: block !important;
    margin: 30px;
  }
  .container-h1 {
    height: 40vh;
  }
  .container-h1 h1 {
    margin-top: 140px !important;
    font-size: 30px !important;
  }
  .head-btn {
    width: 170px !important;
    height: 40px !important;
  }
}
@media (max-width: 576px) {
  header {
    height: 100vh;
  }
  .container-header {
    max-width: 100%;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .nav-mobile {
    display: block !important;
    margin: 30px;
  }
  .header-buttons {
    gap: 8px;
  }
  .head-btn {
    width: 170px;
    height: 40px;
  }
  .container-h1 {
    padding-top: 40vh;
  }
  .container-h1 h1 {
    text-align: center;
  }
}
.foto-grid {
  width: calc(100% - 20px);
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.item {
  width: 100%;
  min-height: 350px;
  background-color: #ccc;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 4px;
  padding: 20px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  z-index: 1;
}
.item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 141, 219, 0.5);
  transition: background-color 0.3s ease;
  z-index: -1;
}
.item:hover {
  color: #D66926;
  cursor: pointer;
}
.item:hover::after {
  background-color: rgba(45, 54, 81, 0.9);
}

.item-1 {
  grid-column: span 2;
  background-image: url("../images/img-html.jpg");
}

.item-2 {
  background-image: url("../images/img-css.jpg");
}

.item-3 {
  background-image: url("../images/img-markup.jpg");
}

.item-4 {
  background-image: url("../images/img-webdesign.jpg");
}

.item-5 {
  background-image: url("../images/img-qa.jpg");
  grid-column: span 2;
}

.item-6 {
  background-image: url("../images/img-codding.jpg");
  grid-row: span 2;
}

.item-7 {
  background-image: url("../images/img-adaptability.jpg");
}

.item-8 {
  background-image: url("../images/img-php.jpg");
}

.item-9 {
  background-image: url("../images/img-seo.jpg");
}

.button-contr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-contr button {
  margin: 20px 0px 40px 0px;
  width: 350px;
  height: 60px;
  background-color: #2d3651;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.button-contr button:hover {
  background-color: #D66926;
  border: 2px solid #2d3651;
}

@media (max-width: 992px) {
  .foto-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .item-4 {
    grid-column: span 2;
  }
  .item-7 {
    grid-row: span 2;
  }
  .item-9 {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .foto-grid > * {
    grid-row: auto !important;
    grid-column: auto !important;
  }
  .foto-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(6, 1fr) !important;
  }
  .item-2 {
    grid-row: span 2 !important;
  }
  .item-4 {
    grid-column: span 2 !important;
  }
  .item-5 {
    grid-row: span 2 !important;
  }
}
@media (max-width: 576px) {
  .foto-grid > * {
    grid-row: auto !important;
    grid-column: auto !important;
  }
  .foto-grid {
    padding-left: 11px;
    padding-right: 11px;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(9, 1fr) !important;
  }
  .button-contr {
    padding: 20px;
  }
  .button-contr button {
    width: 100%;
  }
}
.info-sect {
  background-color: #E5E5E5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.info-contr {
  max-width: 1300px;
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: start;
  padding-bottom: 87px;
}

.about-block {
  padding: 20px;
  color: #333;
  position: relative;
}
.about-block h2 {
  margin-top: 100px;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: bold;
}
.about-block p {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 2;
}
.about-block p::after {
  content: "";
  position: absolute;
  top: 280px;
  right: -20px;
  width: 1px;
  height: 200px;
  background-color: #707070;
}

.lamp-block {
  display: flexbox;
  justify-content: start;
  margin-top: 100px;
  margin-left: 50px;
}
.lamp-block img {
  max-width: 271px;
  max-height: 487px;
}

@media (max-width: 992px) {
  .about-block {
    padding-left: 20px;
  }
  .lamp-block {
    display: flexbox;
    justify-content: start;
    margin-top: 100px;
    margin-left: 50px;
  }
  .lamp-block img {
    max-width: 255px;
    max-height: 459px;
  }
  p {
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 2;
  }
}
@media (max-width: 768px) {
  .about-block {
    padding-left: 20px;
  }
  .about-block h2 {
    margin-top: 100px;
    font-size: 24px;
  }
  .about-block p {
    font-weight: normal;
    font-size: 16px;
  }
  .about-block p::after {
    content: "";
    position: absolute;
    top: 240px;
    right: 0px;
    width: 1px;
    height: 200px;
    background-color: #707070;
  }
  .lamp-block {
    margin-top: 100px;
    margin-left: 0px;
  }
  .lamp-block img {
    max-width: 235px;
    max-height: 435px;
  }
}
@media (max-width: 576px) {
  .info-contr {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h2 {
    margin: 57px 0 19px 0 !important;
    text-align: center;
  }
  p {
    margin-top: 0 !important;
    font-weight: normal;
    font-size: 16px;
  }
  .lamp-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .lamp-block img {
    max-width: 271px;
    max-height: 487px;
  }
}
.form-contr form {
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 1300px;
  padding: 20px;
}

.form-contr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3651;
}
.form-contr input {
  background-color: rgb(58, 64, 81);
  color: #fff;
  width: 100%;
  height: 60px;
  border: 2px solid transparent;
  border-bottom: 2px solid #fff;
  padding: 10px;
  padding-left: 31px;
  outline: none;
  font-size: 18px;
  letter-spacing: 2px;
}
.form-contr input::placeholder {
  color: #fff;
}
.form-contr input:hover {
  border-color: #fff;
  transition: 0.5s;
}
.form-contr input:focus {
  border-color: #fff;
  transition: 0.5s;
}
.form-contr button {
  background-color: rgb(58, 64, 81);
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 2px solid #fff;
  transform: translateY(-1px);
}
.form-contr button:hover {
  background-color: #D66926;
}

.form-contr form {
  grid-template-columns: 1fr 1fr 1fr;
}

.form-contr input:first-of-type {
  grid-column: 1/2;
}

.form-contr input:nth-of-type(2) {
  grid-column: 2/3;
}

.form-contr button {
  grid-column: 3/4;
}

@media (max-width: 992px) {
  .form-contr {
    width: 100vw !important;
    display: flex;
    justify-content: center;
    background-color: #2d3651;
    padding: 0px 10px 10px 10px;
    justify-content: center !important;
  }
  .form-contr button {
    width: 30vw;
  }
  .form-contr input {
    width: 30vw;
  }
}
@media (max-width: 768px) {
  .form-contr form {
    grid-template-columns: 1fr !important;
  }
  .form-contr input:first-of-type {
    width: 100%;
    grid-column: 1/-1 !important;
  }
  .form-contr input:nth-of-type(2),
  .form-contr button {
    width: 100%;
    grid-column: span 1 !important;
  }
  .form-contr input:nth-of-type(2) {
    justify-self: start !important;
  }
  .form-contr button {
    justify-self: end !important;
    transform: translateY(0.5px);
  }
  .form-contr form {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 576px) {
  .form-contr form {
    grid-template-columns: 1fr !important;
  }
  .form-contr input:first-of-type {
    grid-column: 1/-1;
  }
  .form-contr input:nth-of-type(2),
  .form-contr button {
    grid-column: span 1;
  }
  .form-contr input:nth-of-type(2) {
    justify-self: start;
  }
  .form-contr button {
    justify-self: end;
  }
  .form-contr form {
    grid-template-columns: 1fr 1fr;
  }
}
.post-sect {
  display: flex;
  justify-content: center;
}

.post-cntr {
  padding: 0px 20px 0px 20px;
  width: 100vw;
  max-width: 1300px;
  margin-top: 99px;
}
.post-cntr h2 {
  color: #2d3651;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  letter-spacing: 10;
  margin-bottom: 52px;
}

.post-cntr #post-grid-cntr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.post {
  background-color: #EEEEEE;
  height: 550px;
}
.post .img {
  background-size: cover;
  height: 300px;
}
.post .txt {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 10px;
}
.post .txt h3 {
  font-family: "Roboto", sans-serif;
  color: #637588;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.post .txt p {
  font-family: "Roboto", sans-serif;
  color: #637588;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.post-1 {
  grid-column: span 2;
}
.post-1 .img {
  background-image: url("../images/img-post-1.jpg");
}

.post-2 .img {
  background-image: url("../images/img-post-2.jpg");
}

.post-3 .img {
  background-image: url("../images/img-post-3.jpg");
}

.post-4 .img {
  background-image: url("../images/img-post-4.jpg");
}

.post-5 .img {
  background-image: url("../images/img-post-5.jpg");
}

.post-6 {
  grid-column: span 2;
}
.post-6 .img {
  background-image: url("../images/img-post-6.jpg");
}

@media (max-width: 992px) {
  .post-cntr #post-grid-cntr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  #post-grid-cntr > * {
    grid-row: auto;
    grid-column: auto;
  }
  .post-cntr #post-grid-cntr .post-1 {
    grid-column: span 2;
  }
  .post-cntr #post-grid-cntr .post-4 {
    grid-column: span 2;
  }
  .post-cntr #post-grid-cntr .post-5 {
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .post-sect .post-cntr #post-grid-cntr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
  .post-sect .post-cntr #post-grid-cntr .post {
    grid-row: auto;
    grid-column: auto;
  }
}
@media (max-width: 576px) {
  section .post-sect {
    display: flex;
    justify-content: center;
  }
  .post-cntr {
    margin-top: 0;
  }
  .post-cntr h2 {
    margin-top: 0;
  }
  .post-sect .post-cntr #post-grid-cntr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }
  .post-sect .post-cntr #post-grid-cntr .post {
    grid-row: auto;
    grid-column: auto;
  }
}
footer {
  margin-top: 40px;
  background-color: #2d3651;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 250px;
}
footer .war {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #637588;
  font-weight: 100;
  letter-spacing: 4px;
}
footer .wd {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  position: relative;
}
footer .wd:after {
  content: "";
  position: absolute;
  top: -50px;
  right: 33px;
  width: 75px;
  height: 2px;
  background-color: #fff;
}

/*# sourceMappingURL=index.css.map */
