.info-sect {
    background-color: #E5E5E5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  
  .info-contr {
    max-width: 1300px;
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: start;
    padding-bottom: 87px;
  }
  
  .about-block {
    h2 {
      margin-top: 100px;
      font-family: $fontRobotoSlab;
      font-size: 40px;
      font-weight: bold;
    }
  
    p {
      margin-top: 50px;
      font-family: $fontRoboto;
      font-size: 18px;
      font-weight: normal;
      line-height: 2;
      &::after {
        content: "";
        position: absolute;
        top: 280px;
        right: -20px;
        width: 1px;
        height: 200px;
        background-color: #707070;
      }
    }
  
    padding: 20px;
    color: #333;
    position: relative;
  }
  
  .lamp-block {
    display: flexbox;
    justify-content: start;
    margin-top: 100px;
    margin-left: 50px;
    img {
      max-width: 271px;
      max-height: 487px;
    }
  }
  
  // ============ 992px ============
  @include lg {
    .about-block {
      padding-left: 20px;
    }

    .lamp-block {
      display: flexbox;
      justify-content: start;
      margin-top: 100px;
      margin-left: 50px;
      img {
        max-width: 255px;
        max-height: 459px;
      }
    }

    p {
      margin-top: 50px;
      font-family: $fontRoboto;
      font-size: 18px;
      font-weight: normal;
      line-height: 2;
    }
  }
  
  // ============ 768px ============
  @include md {
    .about-block {
      padding-left: 20px;
      h2 {
        margin-top: 100px;
        font-size: 24px;
      }
      p {
        font-weight: normal;
        font-size: 16px;
        &::after {
          content: "";
          position: absolute;
          top: 240px;
          right: 0px;
          width: 1px;
          height: 200px;
          background-color: #707070;
        }
      }
    }
  
    .lamp-block{
      margin-top: 100px;
      margin-left: 0px;
      img {
        max-width: 235px;
        max-height: 435px;
      }
    }
  }
  
  // ============ 576px ============
  @include sm {
    .info-contr {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .about-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    h2 {
      margin: 57px 0 19px 0 !important;
      text-align: center;
    }

    p {
      margin-top: 0 !important;
      font-weight: normal;
      font-size: 16px;
    }
  
    .lamp-block  {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;

      img{
        max-width: 271px;
        max-height: 487px;
      }
    }
  }