.foto-grid {
    width: calc(100% - 20px);
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  
  .item {
    width: 100%;
    min-height: 350px;
    background-color: #ccc;
    text-align: center;
    font-family: $fontRoboto;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 4px;
    padding: 20px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    z-index: 1;
  
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(117, 141, 219, 0.5);
      transition: background-color 0.3s ease;
      z-index: -1;
    }
  
    &:hover {
      color: $hoverColor;
      cursor: pointer;
  
      &::after {
        background-color: rgba(45, 54, 81, 0.9);
      }
    }
  }
  
  .item-1 {
    grid-column: span 2;
    background-image: url("../images/img-html.jpg");
  }
  .item-2 {
    background-image: url("../images/img-css.jpg");
  }
  .item-3 {
    background-image: url("../images/img-markup.jpg");
  }
  .item-4 {
    background-image: url("../images/img-webdesign.jpg");
  }
  .item-5 {
    background-image: url("../images/img-qa.jpg");
    grid-column: span 2;
  }
  .item-6 {
    background-image: url("../images/img-codding.jpg");
    grid-row: span 2;
  }
  .item-7 {
    background-image: url("../images/img-adaptability.jpg");
  }
  .item-8 {
    background-image: url("../images/img-php.jpg");
  }
  .item-9 {
    background-image: url("../images/img-seo.jpg");
  }
  
  .button-contr {
    display: flex;
    justify-content: center;
    align-items: center;
  
    button {
      margin: 20px 0px 40px 0px;
      width: 350px;
      height: 60px;
      background-color: $deepBlueColor;
      border: 2px solid #fff;
      color: #fff;
      font-family: $fontRoboto;
      font-size: 18px;
  
      &:hover {
        background-color: $hoverColor;
        border: 2px solid $deepBlueColor;
      }
    }
  }
  
  // ============ 992px ============
  @include lg {
    .foto-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  
    .item-4 {
      grid-column: span 2;
    }
    .item-7 {
      grid-row: span 2;
    }
    .item-9 {
      grid-column: span 2;
    }
  }
  
  // ============ 768px ============
  @include md {
    .foto-grid > * {
      grid-row: auto !important;
      grid-column: auto !important;
    }
  
    .foto-grid {
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: repeat(6, 1fr) !important;
    }
  
    .item-2 {
      grid-row: span 2 !important;
    }
    .item-4 {
      grid-column: span 2 !important;
    }
    .item-5 {
      grid-row: span 2 !important;
    }
  }
  
  // ============ 576px ============
  @include sm {
    .foto-grid > * {
      grid-row: auto !important;
      grid-column: auto !important;
    }
  
    .foto-grid {
      padding-left: 11px;
      padding-right: 11px;
      grid-template-columns: repeat(1, 1fr) !important;
      grid-template-rows: repeat(9, 1fr) !important;
    }

    .button-contr {
       padding: 20px;
        button {
        width: 100%;
      }
    }
  }