* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/img-header.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 141, 219, 0.5);
  z-index: -1;
}

@media (max-width: 1920px) {
  .container-header {
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .container-header .logo {
    width: 163px;
    height: 60px;
    margin: 20px;
  }
  .container-header .nav {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 38px;
    margin: 0;
  }
  .container-header .nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    letter-spacing: 1.8px;
    transition: color 0.3s;
  }
  .container-header .nav a:hover {
    color: #D66926;
  }
  .container-h1 {
    max-width: 1084px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .container-h1 h1 {
    margin-top: 347px;
    font-family: "Roboto Slab", serif;
    color: white;
    font-size: 60px;
    font-weight: 200;
  }
  .header-buttons {
    max-width: 1084px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .header-buttons button {
    margin-top: 47px;
    width: 250px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  .header-buttons button:hover {
    background-color: #D66926;
    cursor: pointer;
  }
  .foto-grid {
    width: 1900px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  .item {
    width: 100%;
    min-height: 350px;
    background-color: #ccc;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 4px;
    padding: 20px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 141, 219, 0.5);
    transition: background-color 0.3s ease;
    z-index: -1;
  }
  .item:hover {
    color: #D66926;
    cursor: pointer;
  }
  .item:hover::after {
    background-color: rgba(117, 141, 219, 0.9);
  }
  .item-1 {
    grid-column: span 2;
    background-image: url("./images/img-html.jpg");
  }
  .item-2 {
    background-image: url("./images/img-css.jpg");
  }
  .item-3 {
    background-image: url("./images/img-markup.jpg");
  }
  .item-4 {
    background-image: url("./images/img-webdesign.jpg");
  }
  .item-5 {
    background-image: url("./images/img-qa.jpg");
    grid-column: span 2;
  }
  .item-6 {
    background-image: url("./images/img-codding.jpg");
    grid-row: span 2;
  }
  .item-7 {
    background-image: url("./images/img-adaptability.jpg");
  }
  .item-8 {
    background-image: url("./images/img-php.jpg");
  }
  .item-9 {
    background-image: url("./images/img-seo.jpg");
  }
  .skill-button-contr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skill-button-contr button {
    margin: 20px 0px 40px 0px;
    width: 350px;
    height: 60px;
    background-color: #2D3651;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  .skill-button-contr button:hover {
    background-color: #D66926;
    cursor: pointer;
  }
  .info-contr {
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    align-items: center;
    padding-bottom: 87px;
  }
  .about-block {
    padding-left: 310px;
    color: #333;
    position: relative;
  }
  .about-block h2 {
    margin-top: 100px;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    font-weight: bold;
  }
  .about-block p {
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
  }
  .about-block::after {
    content: "";
    position: absolute;
    top: 260px;
    right: -50px;
    width: 1px;
    height: 200px;
    background-color: #707070;
  }
  .lamp-block img {
    margin-top: 100px;
    margin-left: 50px;
    width: 271px;
    height: 487px;
  }
  .form-contr {
    display: flex;
    justify-content: center;
    background-color: rgb(45, 54, 81);
    padding: 30px 310px 30px 310px;
    gap: 19.5px;
  }
  .form-contr input {
    background-color: rgb(58, 64, 81);
    width: 420px;
    height: 60px;
    border: none;
    border-bottom: 2px solid #ffffff;
    padding: 10px;
    padding-left: 31px;
  }
  .form-contr input::placeholder {
    color: #ffffff;
  }
  .form-contr button {
    background-color: rgb(58, 64, 81);
    color: #ffffff;
    width: 420px;
    height: 60px;
    border: none;
    border-bottom: 2px solid #ffffff;
  }
  .post-cntr {
    padding: 99px 310px 0px 310px;
  }
  .post-cntr h2 {
    color: #2D3651;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    letter-spacing: 10;
  }
  .post-cntr .post-grid-cntr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .post-cntr .post {
    background-color: #EEEEEE;
    height: 550px;
  }
  .post-cntr .post .img {
    height: 300px;
  }
  .post-cntr .post .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
  }
  .post-cntr .post .txt h3 {
    font-family: "Roboto", sans-serif;
    color: #637588;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .post-cntr .post .txt p {
    font-family: "Roboto", sans-serif;
    color: #637588;
    font-size: 16px;
  }
  .post-cntr .post-1 {
    grid-column: span 2;
  }
  .post-cntr .post-1 .img {
    background-image: url("./images/img-post-1.jpg");
  }
  .post-cntr .post-3 .img {
    background-image: url("./images/img-post-3.jpg");
  }
  .post-cntr .post-4 .img {
    background-image: url("./images/img-post-4.jpg");
  }
  .post-cntr .post-5 .img {
    background-image: url("./images/img-post-5.jpg");
  }
  .post-cntr .post-2 .img {
    background-image: url("./images/img-post-2.jpg");
  }
  .post-cntr .post-6 {
    grid-column: span 2;
  }
  .post-cntr .post-6 .img {
    background-image: url("./images/img-post-6.jpg");
  }
  footer {
    margin-top: 60px;
    background-color: rgb(45, 54, 81);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
  }
  footer .war {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #637588;
    font-weight: 100;
    letter-spacing: 4px;
  }
  footer .wd {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    position: relative;
  }
  footer .wd:after {
    content: "";
    position: absolute;
    top: -50px;
    right: 33px;
    width: 75px;
    height: 2px;
    background-color: #ffffff;
  }
}
@media (max-width: 992px) {
  .container-header {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .container-header {
    max-width: 100%;
    flex-direction: column;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .container-header {
    max-width: 100%;
  }
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
