// ====================== MEDIA VARS ==================== //

$xl: 2560px;
$lg: 992px;
$md: 768px;
$sm: 576px;

// ====================== FONTS VARS ==================== // 
$fontRoboto: "Roboto", sans-serif;
$fontRobotoSlab: "Roboto Slab", serif;

// ====================== COLORS VARS ==================== // 
$hoverColor: #D66926;
$deepBlueColor: #2d3651;
$greyFontColor: #637588;

@mixin xl {
  @media (max-width: #{$xl}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$lg}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; // Убираем горизонтальный скролл
}

button:hover {
    background-color: $hoverColor;
    transition: 0.3s;
    cursor: pointer;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./images/img-header.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 141, 219, 0.5);
    z-index: -1;
  }
}

.checkbtn {
  font-size: 32px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#check {
  display: none;
  &:checked ~ .checkbtn i {
    transform: rotate(180deg);
  }
  &:checked ~ .nav-mobile-list {
    display: block;
  }
}

.fa-bars {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  color: white;
}

.nav-mobile-list {
  display: none;
  font-size: 26px;
  color: white;

}

.ul-mobile {
  position: absolute;
  color: white; 
  list-style: none; 


  li {
    color: white; 
    margin-top: 30px;
    transform: translateX(-80px);
    text-align: right;

    a {
      color: white;
      font-family: $fontRoboto;
      text-decoration: none; 
    }
  }
}




// ======================================================== 1920
@include xl {

// ----------------------- HEADER ---------------------//

.container-header {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .logo {
    width: 163px;
    height: 60px;
    margin: 20px;
  }

  .nav-mobile {
    display: none;
  }


  .nav {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 38px;
    margin: 0;
  
    a {
      text-decoration: none;
      color: #ffffff;
      font-family: $fontRoboto;
      line-height: 20px;
      font-size: 18px;
      letter-spacing: 1.8px;
      transition: color 0.3s;
  
      &:hover {
        color: $hoverColor;
      }
    }
  }

}

     
      
      .container-h1 {
          max-width: 100%;
          height: 35vh;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: end;

          h1{
            font-family: $fontRobotoSlab;
            color: white;
            font-size: 60px;
            font-weight: 200;
          }
      }
      
      .header-buttons {
          max-width: 1084px;
          margin: auto;
          display: flex;
          justify-content: center;
          gap: 20px;

          .head-btn {
            margin-top: 47px;
            width: 250px;
            height: 60px;
            background-color: rgba(255, 255, 255, 0.1); 
            border: 2px solid #ffffff;  
            color: #ffffff;
            font-family: $fontRoboto;
            font-size: 18px;

            &:hover {
                background-color: #D66926;
              }
          }
        }
// ----------------------- END OF HEADER ---------------------//

// ------------------------- SKILLS --------------------------//
    .foto-grid {
        width: calc(100% -  20px);
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 10px;
      }
      
      .item {
        width: 100%;
        min-height: 350px;
        background-color: #ccc;
        text-align: center;
        font-family: $fontRoboto;
        font-size: 20px;
        color: #ffffff;
        letter-spacing: 4px;
        padding: 20px;
        border: 1px solid #999;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(117, 141, 219, 0.5);
            transition: background-color 0.3s ease;
            z-index: -1;
          }

        &:hover {
            color: $hoverColor;
            cursor: pointer;
            
            &::after {
                background-color: rgba(117, 141, 219, 0.9);
            }
        }
      }
      
      .item-1 {
        grid-column: span 2;
        background-image: url("./images/img-html.jpg");
      }
      .item-2 {
        background-image: url("./images/img-css.jpg");
      }
      .item-3 {
        background-image: url("./images/img-markup.jpg");
      }
      .item-4 {
        background-image: url("./images/img-webdesign.jpg");
      }
      .item-5 {
        background-image: url("./images/img-qa.jpg");
        grid-column: span 2;
      }
      .item-6 {
        background-image: url("./images/img-codding.jpg");
        grid-row: span 2;
      }
      .item-7 {
        background-image: url("./images/img-adaptability.jpg");
      }
      .item-8 {
        background-image: url("./images/img-php.jpg");
      }
      .item-9 {
        background-image: url("./images/img-seo.jpg");
      }
      

    .skill-button-contr {
        display: flex;
        justify-content: center;
        align-items: center;


        button {
            margin: 20px 0px 40px 0px;
            width: 350px;
            height: 60px;
            background-color: #2D3651;
            border: 2px solid #ffffff;  
            color: #ffffff;
            font-family: $fontRoboto;
            font-size: 18px;

            &:hover {
                background-color: $hoverColor;
              }
          }
    }  

    // ----------------------- END OF SKILLS ---------------------//
    .info-sect {
      background-color: #E5E5E5;
      width: 100vw;
      display: flex;
      justify-content: center;

    }

    .info-contr {
        max-width: 1300px;
        background-color: #E5E5E5;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        align-items: center;
        padding-bottom: 87px;
      }
      
      .about-block {

        h2 {
            margin-top: 100px;
            font-family: $fontRobotoSlab;
            font-size: 40px;
            font-weight: bold;
        }

        p {
            margin-top: 50px;
            font-family: $fontRoboto;
            font-size: 18px;
            font-weight: bold;
            line-height: 2;

        }

        padding: 20px;
        color: #333;
        position: relative; 
      }
      
      .about-block::after {
        content: "";
        position: absolute;
        top: 260px;
        right: -50px;
        width: 1px;
        height: 200px;
        background-color: #707070;
      }
      
      .lamp-block img {
        margin-top: 100px;
        margin-left: 50px;
        max-width: 271px;
        max-height: 487px;
      }


      // ------------------------------- FORM ------------------------------//


.form-contr form {
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 1300px;
  padding: 20px;
}

.form-contr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 54, 81);



  input {
    background-color: rgb(58, 64, 81);
    color: white;
    width: 100%;

    height: 60px;
    border: 2px solid transparent;
    border-bottom: 2px solid #ffffff;
    padding: 10px;
    padding-left: 31px;
    outline: none; 


    &::placeholder {
      color: #ffffff; 
    }

    &:focus {
      border-color: #ffffff; 
      transition: 0.5s;
    }
  }
  
  button {
    background-color: rgb(58, 64, 81);
    color: #ffffff;
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 2px solid #ffffff ;
    transform: translateY(-1px);
    &:hover {
        background-color: $hoverColor;
    }
  }
}



    .form-contr form {
      grid-template-columns: 1fr 1fr 1fr; 
    }

    .form-contr input:first-of-type {
        grid-column: 1 / 2; 
    }

    .form-contr input:nth-of-type(2) {
        grid-column: 2 / 3;
    }

    .form-contr button {
        grid-column: 3 / 4;
    }

    // -------------------------------------------- POST ------------------------------------- //

      .post-sect {
        display: flex;
        justify-content: center;

      }



      .post-cntr {
        padding: 99px 20px 0px 20px;

        width: 100vw;
        max-width: 1300px;

        h2 {
            color: #2D3651;
            font-family: $fontRobotoSlab;
            font-size: 40px;
            letter-spacing: 10;
            margin-bottom: 52px;
        }
        

      }


      .post-cntr #post-grid-cntr {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
        gap: 20px; 
    }
    

    
    .post {
        background-color: #EEEEEE;
        height: 550px; 
        .img{
            background-size: cover;
            height: 300px;
        }
        .txt {
            h3 {
                font-family: $fontRoboto;
                color: var($greyFontColor);
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            p {
                font-family: $fontRoboto;
                color: var($greyFontColor);
                font-size: 16px;
                text-align: center;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 250px;
            padding: 10px;
        }
    }

    .post-1 {
      grid-column: span 2; 
      .img {
          background-image: url("./images/img-post-1.jpg");
      }
  }

  .post-3 {
      .img {
          background-image: url("./images/img-post-3.jpg");
      }
  }
  .post-4 {
      .img {
          background-image: url("./images/img-post-4.jpg");
      }
  }
  .post-5 {
      .img {
          background-image: url("./images/img-post-5.jpg");
      }
  }
  .post-2 {
      .img {
          background-image: url("./images/img-post-2.jpg");
      }
  }
  .post-6 {
      grid-column: span 2; 
      .img {
          background-image: url("./images/img-post-6.jpg");
      }
  }

      footer {
        margin-top: 60px;
        background-color: var($deepBlueColor);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 250px;
        .war {
            font-family: $fontRoboto;
            font-size: 16px;
            color: var($greyFontColor);
            font-weight: 100;
            letter-spacing: 4px;
        }
        .wd {
            font-family: $fontRoboto;
            font-size: 16px;
            color: #fff;
            font-weight: bold;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                top: -50px;
                right: 33px;
                width: 75px;
                height: 2px;
                background-color: #fff;
              }
        }
      }
}


// ========================================================= 992
@include lg {

// --------------------- HEADER ------------------//
    header {
        height: 100vh;
    }

    .container-h1{
        height: 40vh;

    }

    h1{
        margin-top: 240px !important;
        font-size: 40px !important;
      }

    .head-btn {
        width: 200px !important;
        height: 50px !important;
    }

// --------------------------- SKILLS --------------------//
    .foto-grid {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(5, 1fr); 
      }

    .item-4 {
        grid-column: span 2;   
    }
    .item-7 {
        grid-row: span 2;   
    }
    .item-9 {
        grid-column: span 2; 
    }

// ----------------------------- INFO --------------------//
    .about-block {
        padding-left: 20px;
    }

    .lamp-block img {
        margin-top: 87px;
        // margin-left: 50px;
        max-width: 255px;
        max-height: 459px;
      }

// ----------------------------- FORM --------------------//
      .form-contr {
        width: 100vw !important;
        display: flex;
        justify-content: center;
        background-color: var($deepBlueColor);
        padding: 0px 10px 10px 10px;
        justify-content: center !important;

          button {
            width: 30vw;
          }
          input {
            width: 30vw;
          }
      }

      .post-cntr #post-grid-cntr {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 20px;
    }

    #post-grid-cntr > * {
        grid-row: auto;
        grid-column: auto;
    }

    .post-cntr #post-grid-cntr .post-1 {
        grid-column: span 2; 
    }
    .post-cntr #post-grid-cntr .post-4 {
        grid-column: span 2; 
    }
    .post-cntr #post-grid-cntr .post-5 {
        grid-column: span 2; 
    }


}


// ============================================================= 768
@include md {
  
// -------------------------- HEADER -------------------------//
  header {
      height: 100vh;
      .nav {
          display: none !important;
      }
      .nav-mobile {
        display: block !important;
        margin: 30px;
      }
  }

  .container-h1{
      height: 40vh;
  }

  h1{
      margin-top: 140px !important;
      font-size: 30px !important;
    }

  .head-btn {
      width: 170px !important;
      height: 40px !important;
  }


// ----------------------------- FORM ------------------------------//
  .form-contr form {
    grid-template-columns: 1fr !important;
  }

  .form-contr input:first-of-type {
    width: 100%;
    grid-column: 1 / -1 !important; 
  }

  .form-contr input:nth-of-type(2),
  .form-contr button {
    width: 100%;
    grid-column: span 1 !important; 
  }

  .form-contr input:nth-of-type(2) {
    justify-self: start !important; 
  }

  .form-contr button {
    justify-self: end !important; 
    transform: translateY(0.5px);
  }

  .form-contr form {
    grid-template-columns: 1fr 1fr !important;
  }



// --------------------------- SKILLS --------------------//
  .foto-grid > * {
      grid-row: auto !important;
      grid-column: auto !important;
  }

  .foto-grid {
      grid-template-columns: repeat(2, 1fr) !important; 
      grid-template-rows: repeat(6, 1fr) !important; 
  }

  .item-2 {
      grid-row: span 2 !important;   
  }
  .item-4 {
      grid-column: span 2 !important;   
  }
  .item-5 {
      grid-row: span 2 !important;   
  }


// ----------------------------- INFO -----------------------//
  .about-block {
      padding-left: 20px;
      h2 {
          margin-top: 100px;
          font-size: 24px;
      }
      p {
          font-weight: normal;
          font-size: 16px;
      }
  }

  .lamp-block img {
      margin-top: -150px !important;
      max-width: 235px;
      max-height: 435px;
  }


// -------------------------- POSTS ------------------------ //
.post-sect .post-cntr #post-grid-cntr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto; 
  gap: 20px;
}

.post-sect .post-cntr #post-grid-cntr .post {
  grid-row: auto;
  grid-column: auto;
}
}


// ======================================================= 576
@include sm {
  header {
    height: 100vh;
  }
  .container-header {
    max-width: 100%;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .nav-mobile {
    display: block !important;
    margin: 30px;
  }

  .header-buttons {
    gap: 8px;
  }
  .head-btn {
    width: 170px;
    height: 40px;
  }

  .container-h1 {
    padding-top: 40vh;
  }
  h1 {
    text-align: center;
  }


// ----------------------------- SKILLS --------------------------- //
.foto-grid > * {
  grid-row: auto !important;
  grid-column: auto !important;
}

.foto-grid {
  grid-template-columns: repeat(1, 1fr) !important; 
  grid-template-rows: repeat(9, 1fr) !important; 
}

// ----------------------------- INFO ---------------------------- //

.info-contr {
  display: flex;
  flex-direction: column;
}

.lamp-block img {
  margin: auto !important;
  max-width: 271px;
  max-height: 487px;
}



// ----------------------------- FORM ------------------------------//
  .form-contr form {
      grid-template-columns: 1fr !important; 
  }

  .form-contr input:first-of-type {
      grid-column: 1 / -1; 
  }

  .form-contr input:nth-of-type(2),
  .form-contr button {
      grid-column: span 1;
  }

  .form-contr input:nth-of-type(2) {
      justify-self: start;
  }

  .form-contr button {
      justify-self: end;
  }

  .form-contr form {
      grid-template-columns: 1fr 1fr;
  }



  // -------------------------- POSTS -------------------- //

  .post-sect {
    display: flex;
    justify-content: center;
}

.post-sect .post-cntr #post-grid-cntr {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: auto; 
    gap: 20px;
}

.post-sect .post-cntr #post-grid-cntr .post {
    grid-row: auto;
    grid-column: auto;
}

}